body {
    font-family: Montserrat, sans-serif;
}

article .title {
    background-color: #ebebeb;
}

article .title > div > div {
    height: 1px;
    width: 10%;
}

article .title > div > div > span {
    border-bottom: 1px solid #000;
    width: 0%;
}

article .title > div > div:first-child > span {
    right: 0;
}

article .title > div > div:last-child > span {
    left: 0;
}

footer {
    font-family: Montserrat, sans-serif;
    background-color: #121212;
    color: #777777;
}

footer > div > div > div > div > div > span {
    font-size: 14px;
    letter-spacing: 1px;
}

footer > div > div > div > div > div > span:nth-child(2) {
    background-color: #fff;
    height: 1px;
    width: 0%;
}

footer a {
    color: #777777;
}

footer a:hover {
    color: #777777;
}

footer .copyright {
    background-color: #0c0c0c;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
}

button:focus {
    box-shadow: none !important;
}

/*-- responsive --*/

@media screen and (max-width: 1199px) {
    
    article .title > div > span {
        font-size: 24px;
    }
    
    article .title > div > div {
        width: 12% !important;
    }
    
}

@media screen and (max-width: 991px) {
    
    article .title > div > span {
        font-size: 22px;
    }
    
    article .title > div > div {
        width: 13% !important;
    }
    
    article .form label {
        font-size: 15px;
    }
    
    article .form button > span {
        font-size: 15px;
    }
    
}

@media screen and (max-width: 767px) {
    
    article .title > div > span {
        font-size: 20px;
    }
    
    article .title > div > div {
        width: 14% !important;
    }
    
}

@media screen and (max-width: 575px) {
    
    article .title > div > span {
        font-size: 18px;
    }
    
    article .title > div > div {
        width: 15% !important;
    }
    
    article .form label {
        font-size: 14px;
    }
    
    article .form button > span {
        font-size: 14px;
    }
    
}